__pycache__/ 
*.pyc
venv/ 
.venv/
*.pt 
*.pth 
*.h5
results/ 
videos/output/ 
*_crops/
database/
*.db
.ipynb_checkpoints/
.DS_Store 
*.log
.idea/ 
.vscode/
*.avi
*.mp4
*.mkv
*.flv
*.mov
*.wmv
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.csv
*.json
*.xml
*.xlsx
*.docx
*.pptx
*.pdf